@import url('https://fonts.google.com/specimen/Noto+Sans?selection.family=Noto+Sans');

body {
  padding: 3rem;
  background: #eee;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}
